<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/cake-main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/style.css" type="text/css">
</head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img src="/static/cake-main/img/icon/search.png" alt=""></a>
                <a href="#"><img src="/static/cake-main/icon/heart.png" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="#"><img src="/static/cake-main/img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="cart__price">Cart: <span>RM 0.00</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/static/cake-main/img/logo.png" alt=""></a>
        </div>
                <li><a href="{{url_for('customer')}}">Customer</a></li>
                <li><a href="{{url_for('admin')}}">Admin</a> </li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    <li><a href="{{url_for('customer')}}">Customer </a> </li>
                                     <li><a href="{{url_for('admin')}}">Admin</a> </li>
                                </ul>
                            </div>
                            <div class="header__logo">
                                <a href="./index.html"><img src="{{url_for('static', filename ='BTFlogo.png')}}" style="width:40px;" class="rounded-pill" alt=""></a>
                                 <h4>BalqistheFoodie</h4>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a href="#" class="search-switch"><img src="/static/cake-main/img/icon/search.png" alt=""></a>
                                    <a href="#"><img src="/static/cake-main/img/icon/heart.png" alt=""></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <a href="#"><img src="/static/cake-main/img/icon/cart.png" alt=""> <span>0</span></a>
                                    <div class="cart__price">Cart: <span>RM0.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{{url_for('index')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                             <li><a href="#">Product</a>
                                <ul class="dropdown">
                                    <li><a href="{{url_for('cake')}}">Cakes</a></li>
                                </ul>
                            </li>
                            <li><a href="{{url_for('faq')}}">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <br>

<div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake5.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Chocolate Cake 5-inch</a></h6>
                            <div class="product__item__price">RM50.00</div>
                        </div>
                    </div>
                </div>

	<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake6.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Chocolate Cake 6-inch</a></h6>
                            <div class="product__item__price">RM60.00</div>
                        </div>
                    </div>
                </div>

	                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake7.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Chocolate Cake 6-inch</a></h6>
                            <div class="product__item__price">RM60.00</div>
                        </div>
                    </div>
                </div>

	<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake8.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Vanilla Cake 5-inch</a></h6>
                            <div class="product__item__price">RM50.00</div>
                        </div>
                    </div>
                </div>

	 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake9.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Vanilla Cake 5-inch</a></h6>
                            <div class="product__item__price">50.00</div>
                        </div>
                    </div>
                </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake10.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Vanilla Cake 4-inch</a></h6>
                            <div class="product__item__price">RM20.00</div>
                        </div>
                    </div>
                </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/static/cake11.png">
                            <div class="product__label">
                                <span>CAKE</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Vanilla Cake 5-inch</a></h6>
                            <div class="product__item__price">RM50.00</div>
                        </div>
                    </div>
                </div>
</div> <!-- row end.// -->
<!-- Js Plugins -->
<script src="/static/cake-main/js/jquery-3.3.1.min.js"></script>
<script src="/static/cake-main/js/bootstrap.min.js"></script>
<script src="/static/cake-main/js/jquery.nice-select.min.js"></script>
<script src="/static/cake-main/js/jquery.barfiller.js"></script>
<script src="/static/cake-main/js/jquery.magnific-popup.min.js"></script>
<script src="/static/cake-main/js/jquery.slicknav.js"></script>
<script src="/static/cake-main/js/owl.carousel.min.js"></script>
<script src="/static/cake-main/js/jquery.nicescroll.min.js"></script>
<script src="/static/cake-main/js/main.js"></script>
    </main>
    </div>
</div>
</body>
</html>