<!DOCTYPE html>
<html lang="en">
<head>
  <title>HomePage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
     <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/cake-main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/cake-main/css/style.css" type="text/css">
</head>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>Welcome back, {{ username }}!</p>
{% endblock %}

<body>
 <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>