<!DOCTYPE html>
<html>
<head>
    <title>View Ingredients</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard HTML</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: ;
        }
        body{
       background-color: #FFC0CB;
        }
        .btn{
        background-color: #f0923a;
      }
    </style>
</head>
<body>
<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('dashboard')}}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                          <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('view_ingredients')}}">
                           <i class="fas fa-shopping-cart"></i> Ingredients
                            <span class="sr-only">(current)</span>
                         </a>
                        </li>
                         <li class="nav-item">
                        <a class="nav-link" href="{{url_for('create_sales')}}">
                           <i class="fas fa-tachometer-alt"></i> Report
                         </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index_product')}}">
                                <i class="fas fa-shopping-cart"></i>Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('profile_admin')}}">
                               Profile
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="{{url_for('index')}}">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
    <h1>View Ingredient</h1>
    <a href="{{url_for('add')}}" target="_blank">
        <button type="submit" class="btn btn-primary"> Add Ingredients</button></a><br><br>
    <table>
        <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Available Quantity</th>

            </tr>
        </thead>
        <tbody>
            {% for ingredients in ingredients %}
            <tr>
                <td>{{ ingredients.ingredient_name }}</td>
                <td>{{ ingredients.available_quantity }} {{ ingredients.unit }}</td>
               <td>
              <a href="{{ url_for('update_in',ingredient_id = ingredients.ingredient_id) }}" target="_blank">
                <button type="submit" class="btn btn-primary">Update</button></a>
                       <button type="submit" class="btn btn-primary">Delete</button>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>